<link rel="stylesheet" href="./style.css">

<h1>Hey <%= name.toUpperCase() %>, Welcome </h1>

<% if(name.toLowerCase() === "rabbit"){ %>
<p>Welcome Code_Breaker!</p>
<% } else { %>
<p>You are not Code_Breaker</p>
<% } %>


<form action="/"  method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="Send"/>
</form>

<script>
 
</script>